{% extends "model/getMesh.html" %}
{% load static %}
{% block analyzeMesh %}
<script type="text/javascript">
    function analyzeMesh() {
        // POST request
        $.ajax({
            type: 'POST',
            url: "{% url 'analyze_mesh' %}",
            data: {
              'HOST': v.loaders[localStorage.getItem( 'prevLoadUrl' )].serverUrl,
              'STREAM_ID': v.loaders[localStorage.getItem( 'prevLoadUrl' )].streamId,
              'FLOOR_ID': v.interactions.selectedObjectsUserData[0].id,
              'WIND_DIR': v.gui.children[0].object['wind direction'],
              'FIXED_NODES': v.gui.children[0].object['fixed nodes'],
          },
            success: function (response) {
                console.log(response)
                v.addAttributesToObjects(v.sceneManager.sceneObjects.allLineObjects, response['shear_wall_data'])
            },
            error: function (response) {
                console.log('error')
                console.log(response)
            }
        })
    }
</script>
{% endblock analyzeMesh %}