{% extends "model/getMesh.html" %}
{% load static %}
{% block analyzeMesh %}
<script type="text/javascript">
    function analyzeMesh() {
        // POST request
        $.ajax({
            type: 'POST',
            url: "{% url 'analyze_mesh' %}",
            data: {
              'HOST': v.loaders[localStorage.getItem( 'prevLoadUrl' )].serverUrl,
              'STREAM_ID': v.loaders[localStorage.getItem( 'prevLoadUrl' )].streamId,
              'FLOOR_ID': v.interactions.selectedObjectsUserData[0].id,
              'WIND_DIR': v.gui.children[0].object['wind direction'],
              'FIXED_NODES': v.gui.children[0].object['fixed nodes'],
          },
            success: function (response) {
                console.log(response)
                v.addAttributesToObjects(v.sceneManager.sceneObjects.allLineObjects, response['shear_wall_data'])

                var results_url = localStorage.getItem( 'resultsUrl' )
                if (results_url) v.unloadObject(results_url)
                var new_results_url = v.loaders[localStorage.getItem( 'prevLoadUrl' )].serverUrl + '/streams/' + v.loaders[localStorage.getItem( 'prevLoadUrl' )].streamId + '/objects/' + response['obj_id']
                localStorage.setItem( 'resultsUrl', new_results_url )
                v.loadObject(new_results_url)

                console.log(new_results_url)
                // v.loadObject( v.loaders[localStorage.getItem( 'prevLoadUrl' )].serverUrl + '/streams/' + v.loaders[localStorage.getItem( 'prevLoadUrl' )].streamId + '/objects/' + response['obj_id'])
                // v.applyFilter({filterBy: {'speckle_type': 'SpeckMesh'}, colorBy: {wireframe: true, property: 'displacements', direction: 1, type: 'FEM'}, showDeformed: 5000, ghostOthers: true })
            },
            error: function (response) {
                console.log('error')
                console.log(response)
            }
        })
    }
</script>
{% endblock analyzeMesh %}