{% extends "model/buildShearwalls.html" %}
{% load static %}
{% block getMesh %}
<script type="text/javascript">
    function getFloorMesh() {
      // POST request
      $.ajax({
          type: 'POST',
          url: "{% url 'get_floor_mesh' %}",
          data: {
              'HOST': v.loaders[localStorage.getItem( 'prevLoadUrl' )].serverUrl,
              'STREAM_ID': v.loaders[localStorage.getItem( 'prevLoadUrl' )].streamId,
              'OBJECT_ID': v.loaders[localStorage.getItem( 'prevLoadUrl' )].objectId,
              'FLOOR_ID': v.interactions.selectedObjectsUserData[0].id
          },
          success: function (response) {
              console.log(response)
              var results_url = localStorage.getItem( 'resultsUrl' )
              if (results_url) v.unloadObject(results_url)
              var new_results_url = v.loaders[localStorage.getItem( 'prevLoadUrl' )].serverUrl + '/streams/' + v.loaders[localStorage.getItem( 'prevLoadUrl' )].streamId + '/objects/' + response['obj_id']
              localStorage.setItem( 'resultsUrl', new_results_url )
              v.loadObject(new_results_url)
          },
          error: function (response) {
              console.log('error')
              console.log(response)
          }
      })
  };

</script>
{% endblock getMesh %}