{% extends "model/buildShearwalls.html" %}
{% load static %}
{% block getMesh %}
<script type="text/javascript">
    function getFloorMesh() {
        if (v.hasOwnProperty('floors')) {

        } else {
            v.floors = {}
            floor_objs = v.sceneManager.sceneObjects.filteringManager.getObjsInGroupThatPassFilter(v.sceneManager.sceneObjects.allSolidObjects, {filterBy : {'speckle_type': 'Objects.BuiltElements.Floor:Objects.BuiltElements.Revit.RevitFloor'}})
            for (var index in floor_objs) {
                var floor_ids = Object.keys(v.floors)
                if (!floor_ids.includes(floor_objs[index].uuid)) {
                    v.floors[floor_objs[index].uuid] = {
                        'name' : floor_objs[index].userData.level.name,
                        'top_elevation' : floor_objs[index].userData.parameters.STRUCTURAL_ELEVATION_AT_TOP.value,
                        'stud length of walls above' : null,
                        'shear force at floor' : null,
                        'outline' : floor_objs[index].userData.outline,
                    }
                }
            }
        }
        console.log(Object.keys(v.floors))
      // POST request
      $.ajax({
          type: 'POST',
          url: "{% url 'get_floor_mesh' %}",
          data: {
              'HOST': v.loaders[localStorage.getItem( 'prevLoadUrl' )].serverUrl,
              'STREAM_ID': v.loaders[localStorage.getItem( 'prevLoadUrl' )].streamId,
              'OBJECT_ID': v.loaders[localStorage.getItem( 'prevLoadUrl' )].objectId,
              'floor_ids': JSON.stringify(Object.keys(v.floors))
          },
          success: function (response) {
              console.log(response)
              var results_url = localStorage.getItem( 'resultsUrl' )
              if (results_url) v.unloadObject(results_url)
              var new_results_url = v.loaders[localStorage.getItem( 'prevLoadUrl' )].serverUrl + '/streams/' + v.loaders[localStorage.getItem( 'prevLoadUrl' )].streamId + '/objects/' + response['obj_id']
              localStorage.setItem( 'resultsUrl', new_results_url )
              v.loadObject(new_results_url)
          },
          error: function (response) {
              console.log('error')
              console.log(response)
          }
      })
  };

</script>
{% endblock getMesh %}