{% extends "model/buildShearwalls.html" %}
{% load static %}
{% block getMesh %}
<script type="text/javascript">
    function getFloorMesh() {
      // POST request
      $.ajax({
          type: 'POST',
          url: "{% url 'get_floor_mesh' %}",
          data: {
              'HOST': v.loaders[localStorage.getItem( 'prevLoadUrl' )].serverUrl,
              'STREAM_ID': v.loaders[localStorage.getItem( 'prevLoadUrl' )].streamId,
              'OBJECT_ID': v.loaders[localStorage.getItem( 'prevLoadUrl' )].objectId,
              'FLOOR_ID': v.interactions.selectedObjectsUserData[0].id
          },
          success: function (response) {
              console.log(response)
          },
          error: function (response) {
              console.log('error')
              console.log(response)
          }
      })
  };

</script>
{% endblock getMesh %}